html {font-size: 100%;}
.contain{
    display:block;
    width: 1020px;
    margin: auto;
}
#landing{
    font-family:segoe_uibold;
    position: relative;
}
input[type="submit"]{
    cursor:pointer;
    outline:none;
}

header{
    background:#2d3e50;
    height: 60px;
    width: 100%;
    display: block;
    box-shadow: 0px -1px 9px black;
    z-index: 4;
    position: relative;
}
.titleN2{
    font-family: segoe_uilight;
    text-align:center;
    color:white;
    font-size: 1.1em;

}

.title-dash{    
font-family: segoe_uilight;
text-align: left;
color: #2d3e50;
font-size: 1.3em;
width: 300px;
}

.objectifs-dash{    
	font-family: segoe_uilight;
	color: #2d3e50;   
	text-align:center;
	font-size: 1.3em;
}

.dash-head {
	border-bottom: 1px solid #3a5066;
}

.dash-container{
	
	padding: 0px 0 30px 0;
	
}

/*------------------------------- DASH NO OBJECTIFS ---------------------------------*/

.dash-text{
	margin-top: 15px;
	font-family: segoe_uilight;
	color: #2d3e50;
	text-align: center;
}

.dash-search-btn{
	font-size: 14px;
		font-family: segoe_uibold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
	background-color: #2d3e50;
	width: 230px;
	margin: 15px auto;
	padding: 7px 0 7px 0;
	border-radius: 3px;
	box-shadow: 0px 3px 0px black;
	
	
}

.dash-search-btn:active{
	font-family: segoe_uibold;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	box-shadow: 0px 2px 0px black;
	bottom: -1px;
	
}

.dash-search-btn a{
	text-decoration: none;
	color: #fff;
	
	
	
}

	
/*------------------------------- DASH NO OBJECTIFS ---------------------------------*/



/*------------------------------- PROFIL ---------------------------------*/
#profil{
    background:#eeeff1;
    padding-bottom: 50px;
}
#profil header .contain{
    display: block;
    text-align:center;
    position: relative;
    height: 100%;
}
#profil header .contain div{
    display: inline-block;
    width: auto;
    margin-top: 12px;
}
#profil header .contain div>a{
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 0 5px;
}

#profil header .contain>a:last-child{
    display: block;
    height: 100%;
    color: white;
    padding: 0 20px 0 40px;
    background: url(images/deconnecter.png) no-repeat 20px center;
    text-decoration: none;
    font-family: segoe_uilight;
    line-height: 63px;
    border-left: 1px solid #4c5b6a;
    border-right: 1px solid #4c5b6a;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8em;
}
#profil header .contain>a:last-child:hover{
    background-color:#425262;
}
#profil>#informations-dash{
    background: #eeeff1;
}

#profil>#informations-dash .fleft{
    width: 450px;
    padding:30px 0;
    text-align: center;
    display: block;
   
}
#profil>#informations-dash .fright{
    width: 566px;
    padding:30px 0;
}
#profil>#informations-dash .fleft>span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius:5px;
    margin:15px auto;
}

#profil>#informations-dash .fleft>.presentation{
	margin: 18px 0 0 0;
	padding:0px 0px 0px 5px;
	float: right;
	border-right: 1px solid #2d3e50;;
}

#profil>#informations-dash .fleft>.presentation>.presentation-infos{
	width:300px;
	text-align: left;
}

#profil>#informations-dash .fleft>.presentation>.presentation-infos>p{
	font-size: 14px;
	color: #2d3e50;
	font-family: segoe_uibold;
	text-transform: uppercase;
	display: inline-block;
	padding:15px 15px 0 0; 
}

#profil>#informations-dash .fleft>.presentation>.presentation-infos>p>span{
	font-size: 20px;
}

#profil>#informations-dash .fleft>span.actif{
    background-color:#65a830;
}
#profil>#informations-dash .fleft>span.inactif{
    background-color:#e3867f;
}
#profil>#informations-dash .fleft>div:nth-child(2){
	height: 100px;
	width: 100px;
	border-radius: 75px;
	border: 5px solid #4c5b6a;
	overflow: hidden;
}
#profil>#informations-dash .fleft>div:nth-child(2)>img{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}
#profil>#informations-dash .fleft a{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    display: inline-block;
    margin:20px 5px;
    color: white;
    text-decoration:none;
    font-family: segoe_uibold;
    font-size: .8em;
    line-height: 28px;
    padding-left: 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}


/* Fright Objectifs*/

#profil #informations-dash .fright .details{
	width: 160px;
	display: inline-block;
	margin: 10px 15px 0 15px;
}

#profil #informations-dash .fright .details:last-child{
	width: 160px;
	display: inline-block;
	margin: 10px 0px 0 15px;
}

#profil #informations-dash .fright .details .targets{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: 4px solid #d1d5d9;
	margin: 0 auto;
	overflow: hidden;
}
#profil #informations-dash .fright .details .targets .pics img{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

#profil #informations-dash .fright .details .status span {
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	margin: 8px auto 3px;
	background-color:#65a830;
	
}

/*#profil>#informations-dash .fright> .details> .status>span.actif{
    background-color:#65a830;
}*/

#profil #informations-dash .fright .details .name p {

	text-align: center;
	color: #e3867f;
	font-family: segoe_uibold;
	font-size: 0.9em;
}

#profil #informations-dash .fright .details .link {
	margin: 20px 0 0 0;
	text-align: center;
	color: #e3867f;
	font-family: segoe_uilight;
	font-size: 0.9em;
}

#profil #informations-dash .fright .details .link a {
	
	text-decoration: none;
	color: #3a5066;
	border: 1px solid #3a5066;
	padding: 5px 25px 5px 25px;
    -webkit-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
    -ms-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
	
}
#profil #informations-dash .fright .details .link a:hover{
    color: white;
    background: #3a5066;
}

/* End*/ 




/* DAshboard middle nav*/ 

#middle-nav {
	text-align: center;
}

#middle-nav li {
	text-align: center;
	display:inline-block;
	padding: 20px 92px 20px 92px;
	font-family: segoe_uilight;
	font-size: 0.9em;
	text-transform: uppercase;
	color: #2d3e50;
}

#middle-nav li a {
	color:#2d3e50;
	text-decoration: none;
	
}

#middle-nav li a.actif {
	color:#2d3e50;
	font-family: segoe_uibold;
	text-decoration: none;
	
}



/* end middle nav*/ 



/* DAshboard news*/ 

#news article {
	
	border-bottom:1px solid #ffffff;
	height: 150px;
}

#news article .profil{
	background-color: rgba(0, 0, 0, 0.5); 
	padding: 10px 0 0 0;
	height: 150px;
	width: 250px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#news article .profil .name{
    display: block;
	color: #ffffff;
	text-align: center;
	font-size: 1em;
	font-family: segoe_uilight;
	text-decoration: none;
}

#news article .profil .date{
	color: #ffffff;
	text-align: center;
	font-size: .8em;
	font-family: segoe_uiregular;
	
}

#news article .profil .friend-pics{
	margin: 5px 0;
}

#news article .profil .targets{
	height: 70px;
	width: 70px;
	border-radius: 50px;
	border: 4px solid #d1d5d9;
	margin: 0 auto;
	overflow: hidden;
}
#news article .profil .targets .pics img{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

#news article .live-news{
	text-align: center;
	width: 75%;
	margin-top:30px;
	color: #ffffff;
}

#news article .separator {
	
	border-top: 1px solid #ffffff;
	width: 200px;
	margin: 0 auto;
	padding: 10px 0;
}

#news article .live-news p {
	font-family: segoe_uilight;
	font-size: 1em;
	margin-bottom: 20px;
}

#news article .live-news p span{
	font-family: segoe_uibold;
}

#news article.bg-km{
	background-image: url(images/bg-km.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#news article.bg-cal{
	background-image: url(images/bg-cal.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#news article.bg-event{
	background-image: url(images/bg-event.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#news article.bg-friend{
	background-image: url(images/bg-friend.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}








/* end news*/ 


#suivre{
    background: #e3867f url(images/suivre.png) no-repeat 15px center;
}
#discuter{
    background: #222222 url(images/discuter.png) no-repeat 12px center;
}
#profil>#informations .fright p{
    color:white;
    font-family: segoe_uiregular;
    font-style:italic;
    margin-top: 50px;
    line-height: 40px;
    font-weight: bold;
}
#resume>div>div{
    display: table;
    width: 100%;
}
#resume>div>div>div{
    display: table-cell;
    width: 33%;
}
#resume>div>div>div>p{
    border-right:1px solid #d3d7dc;
}
#resume .contain>table>tbody>tr:first-child>td:first-child .titleN2{
    border-left:1px solid #d3d7dc;
}
#resume .titleN2{
    color:#2d3e50;
    padding: 35px 0;
    border-right:1px solid #d3d7dc;
    display: block;
    text-decoration:none;
}   
#resume .photos-list{
    width: 100%;
}
#resume .photos-list a{
    width: 33%;
    overflow: hidden;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
#resume .photos-list img{
    width: 113px;
    height: 113px;
    display: block;
}
#resume .info-list div{
    width: 113px;
    height: 113px;
}
#resume .info-list div>h3{
    text-align: center;
    font-family: segoe_uilight;
    color:#2d3e50;
    padding-top: 15px;
}
#resume .info-list div>p{
    text-align: center;
    font-family: segoe_uibold;
    font-size: .9em;
    color:#2d3e50;
    padding-top: 40px;
}
td, tr{
    padding: 0;
    border-spacing: 0;
}

#resume .contain>table{
    width: 100%;
}
#resume .info-list td{
    border-left:1px solid #d3d7dc;
    border-bottom:1px solid #d3d7dc;
}
#resume .info-list>tbody>tr:first-child>td:nth-child(1){
    background: url(images/taille.png) no-repeat center center;
    border-left:none;
    border-top:1px solid #d3d7dc;
}
#resume .info-list>tbody>tr:first-child>td:nth-child(2){
    background: url(images/poids.png) no-repeat center center;
    border-top:1px solid #d3d7dc;
}
#resume .info-list>tbody>tr:first-child>td:nth-child(3){
    background: url(images/age.png) no-repeat center center;
    border-top:1px solid #d3d7dc;
}
#resume .info-list>tbody>tr:last-child>td:nth-child(1){
    background: url(images/ville.png) no-repeat center center;
    border-left: none;
}
#resume .info-list>tbody>tr:last-child>td:nth-child(2){
    background: url(images/caractere.png) no-repeat center center;
}
#resume .info-list>tbody>tr:last-child>td:nth-child(3){
    background: url(images/apparence.png) no-repeat center center;
}
#resume .wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity:0;
    -webkit-transition:all 100ms ease-in;
    -moz-transition:all 100ms ease-in;
    -o-transition:all 100ms ease-in;
    transition:all 100ms ease-in;
}
#resume .wrapper span{
    color:white;
    text-align:center;
    font-family: segoe_uiregular;
    display: inline-block;
    font-size: .9em;
    width: 100%;
    margin-top: 36px;
}
#resume .wrapper:hover{
    background:#e3867f;
    opacity:0.8;
}
#activity .titleN2, #actuality .titleN2 {
    color: #2d3e50;
    padding: 35px 0;
    display: block;
    text-decoration: none;
    font-size: 1.3em;
}
#activity .graphic{
    height: 360px;
    background: white;
    width: 100%;
}
#activity .contain>div:last-child{
    display: table;
    width:100%;
}
#activity .contain>div:last-child>div{
    display: table-cell;
    width:50%;
    padding: 60px 0 50px 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#activity .contain>div:last-child>div:first-child{
    background: url(images/colories.jpg) no-repeat center center;
    background-size: cover;
}
#activity .contain>div:last-child>div:last-child{
    background: url(images/minutes.jpg) no-repeat center center;
    background-size: cover;
}
#activity .contain>div:last-child>div h3{
    color:white;
    text-align:center;
    font-family: segoe_uilight;
    text-shadow: 0px 1px 4px rgb(71, 71, 71);
    line-height: 25px;
}
#activity .contain>div:last-child>div span{
    font-size:4em;
    font-family: segoe_uibold;
    display: block;
}

#actuality .contain>ul.col{
    width: 100%;
    display: none;
    text-align:center;
    padding-bottom: 15px;
}
#actuality .contain>ul.col>li{
    display:inline-block;
    font-family: segoe_uilight;
    padding: 0 85px;
}
#actuality .contain>ul.col a{
    text-decoration: none;
    color: #2d3e50;
}
.separe{
    display: block;
    width: 100%;
    height: 15px;
    background: url(images/separe.png) repeat-x center top;
}
.separe>span{
    display: block;
    width: 100%;
    height: 100%;
    background:url(images/fleche-actu.jpg) no-repeat top center;
}

.separe-dash{
    display: block;
    width: 100%;
    height: 10px;
    position: relative;
}
.separe-dash>span{
    display: block;
    position: relative;
    top:10px;
    width: 100%;
    height: 100%;
    background:url(images/fleche-actu.jpg) no-repeat top center;
}

.mon-actu{
    border-bottom: 1px solid #a1a8b1;
    padding: 20px 0;
}
.mon-actu>div:first-child>div{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 5px solid #4c5b6a;
    overflow: hidden;
    margin: auto;
}
.mon-actu>div:first-child>div>img{
    width: 100%;
    min-height: 100%;
}
.mon-actu>div:nth-child(2){
    margin-left: 20px;
}
.mon-actu>div:nth-child(2) p{
    color:#8a8a8a;
    font-family: segoe_uilight;
    margin: 10px 0 20px 0;
}
.mon-actu>div:nth-child(2) p>strong{
    font-family: segoe_uibold;
    color:#2d3e50;
    font-weight: normal;
}
.mon-actu>div:nth-child(2) a{
    text-decoration: none;
    color: #2d3e50;
    font-family: segoe_uibold;
    padding: 5px 15px 5px 35px;
    border: 1px solid #2d3e50;
    margin-top: 20px;
    font-size: .9em;
    background: url(images/encourager.png) no-repeat 15px center;
}
.mon-actu>div.fright p{
    font-family: segoe_uibold;
    color:#2d3e50;
    text-align: right;
    margin-top: 10px;
}
.mon-actu>div.fright span{
    font-family: segoe_uibold;
    color: #2d3e50;
    text-align: right;
    margin-top: 20px;
    padding-left: 20px;
    background: url(images/encourager.png) no-repeat 5px center;
    display: inline-block;
    float: right;
}
#resume tbody>tr:last-child>td:first-child .photos-list:nth-child(1) .wrapper{
    background: #2d3e50;
}
#resume tbody>tr:last-child>td:first-child .photos-list:nth-child(1) .wrapper span{
    margin-top: 46px;
}
.fancybox-nav span{
    visibility: visible;
}