html {font-size: 100%;}
.contain{
    display:block;
    width: 1000px;
    margin: auto;
}
#landing{
    font-family:segoe_uibold;
    position: relative;
}
input[type="submit"]{
    cursor:pointer;
    outline:none;
}
#landing input[type="submit"]:active, #landing>section:nth-child(2) input[type="submit"]:active{
    top: 3px;
    box-shadow:inherit;
    -moz-box-shadow:inherit;
    -webkit-box-shadow: inherit;
    outline:none;
    position: relative;
}
#landing header{
    background:#2d3e50;
    height: 60px;
    width: 100%;
    display: block;
    box-shadow: 0px -1px 9px black;
    z-index: 4;
    position: relative;
}
#landing header form{
    margin-top:15px;
}
#landing header form input[type="password"],
#landing header form input[type="text"]{
    height: 30px;
    font-family:segoe_uilight;
    margin:0 10px;
    font-size:.8em;
    padding: 0 5px;
    border-radius: 1px;
    border:none;
}
#landing header input[type="submit"]{
    background:#e2867e;
    height: 30px;
    color:white;
    font-family:segoe_uilight;
    margin-left:20px;
    border-radius:3px;
    font-size:.9em;
    padding:0 30px;
    border:0;
    box-shadow: 0px 3px 0px #bf4337;
}
#landing footer{
    background:#2d3e50;
    height: 200px;
    width: 100%;
    display: block;
}
#landing>section{
    position:relative;
}
#landing>section:nth-child(4)>div>div{
    max-height: 500px;
}
#landing>section:nth-child(2){
    background-image:url(images/background.jpg);
    background-repeat:none;
    background-size: cover;
    height:800px;
    background-position: bottom center;
}
#landing>section:nth-child(2) h1{
    font-family:segoe_uilight;
    margin-top: 100px;
    font-size: 3em;
    text-shadow: 0px 1px 4px rgb(172, 172, 172);
}
#landing>section:nth-child(2) .fleft p{
    color:white;
    font-size: 1em;
    font-family:segoe_uibold;
    font-size: 1.3em;
    margin: 0;
    text-shadow: 0px 1px 4px rgb(172, 172, 172);
}
#landing>section:nth-child(2) div.fright{
    border-radius:3px;
    background: url(images/fond-transparent.png) repeat center center;
    width: 450px;
    margin-top: 100px;
    padding: 0 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#landing>section:nth-child(2) div.fright form{
    line-height: 50px;
    font-family:segoe_uilight;
    line-height: 70px;
    margin-top: 40px;
    text-align:right;
    width: 100%;
}
#landing>section:nth-child(2) div.fright p{
    color: white;
    font-size: .8em;
    margin-bottom: 20px;
    line-height: 16px;
}
#landing>section:nth-child(2) div.fright p>a{
    color:white;
}
#landing>section:nth-child(2) .fright h2{
    margin:0;
    padding: 10px 0;
    border-bottom:1px solid #2d3e50;
    text-align:center;
}
#landing>section:nth-child(2) .fright input{
    float:right;
    margin-right: 20px;
    margin-top: 13px;
    margin-left: 20px;
    width: 250px;
    height: 40px;
    border:none;
    border-radius: 1px;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#landing>section:nth-child(2) .fright select{
    float: right;
    margin-right: 20px;
    margin-top: 13px;
    margin-left: 20px;
    width: 250px;
    height: 40px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 1px;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#landing>section:nth-child(2) input[type="submit"]{
    display: block;
    float: none;
    margin: 40px auto;
    background:#2d3e50;
    color:white;
    font-family:segoe_uibold;
    box-shadow: 0px 3px 0px black;
    border-radius: 3px;
}
#landing>section:nth-child(3){
    background:white;
    height:500px;
}
#landing>section:nth-child(3) img{
    margin-top:140px;
}
#landing>section:nth-child(4) img{
    margin-top: 40px;
}
#landing>section:nth-child(4){
    background:#e2867e;
    height:500px;
}
#landing>section>div>div {
    display: inline-block;
    width: 498px;
}
#landing>section>div>div>img {
    max-width: 90%;
    z-index: 4;
    position: relative;
    margin: auto;
    display: block;
}
#landing>section h2 {
    font-family: segoe_uibold;
    font-size: 1.5em;
    margin-top: 180px;
}
#landing>section p {
    font-family: segoe_uilight;
    margin-top: 25px;
}
#landing>section:nth-child(2) *, #landing>section:nth-child(3) *{
    color:#2d3e50;
}
#landing>section:nth-child(4) *, #landing>section:nth-child(5) *{
    color:white;
}
#landing>section>div>div.fright img {
    opacity: 0;
    left: 400px;
}
#landing>section>div>div.fleft img {
    opacity: 0;
    right: 400px;
}
#landing footer>div>div{
    display: table;
    width: 100%;
    padding-top: 40px;
}
#landing footer>div>div>div{
    display: table-cell;
    width: 33%;
}
#landing footer>div>div>div:nth-child(1) p{
    color:white;
    font-family: segoe_uilight;
    font-size:.9em;
}
#landing footer>div>div>div:nth-child(2){
    text-align:center;
}
#landing .footer-title{
    color:#e2867e;
    font-family: segoe_uibold;
    margin-bottom: 20px;
}
#landing footer>div>div>div:nth-child(3) li>a{
    text-decoration:none;
    color:white;
    font-family: segoe_uilight;
    font-size:.9em;
}
#landing footer>div>div>div:nth-child(3)>div{
    margin-left: 140px;
}
#landing footer>div>div>div:nth-child(2)>div{
    width: 100%;
    text-align:center;
}
#landing footer>div>div>div:nth-child(2)>div>a{
    height: 40px;
    width: 40px;
    border-radius:25px;
    border:2px solid #e2867e;
    display: inline-block;
    margin: 8px;
    -webkit-transition:all 200ms ease-in;
    -moz-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
}
#landing footer>div>div>div:nth-child(2)>div>a:nth-child(1){
    background:#e2867e url(images/sharers.png) no-repeat top left;
}
#landing footer>div>div>div:nth-child(2)>div>a:nth-child(2){
    background:#e2867e url(images/sharers.png) no-repeat top center;
}
#landing footer>div>div>div:nth-child(2)>div>a:nth-child(3){
    background:#e2867e url(images/sharers.png) no-repeat top right;
}
#landing footer>div>div>div:nth-child(2)>div>a:nth-child(1):hover{
    background:#2d3e50 url(images/sharers.png) no-repeat left bottom;
}
#landing footer>div>div>div:nth-child(2)>div>a:nth-child(2):hover{
    background:#2d3e50 url(images/sharers.png) no-repeat center bottom;
}
#landing footer>div>div>div:nth-child(2)>div>a:nth-child(3):hover{
    background:#2d3e50 url(images/sharers.png) no-repeat right bottom;
}
#landing>section .contain div p.error{
    text-align:center;
    color:red;
}