html {font-size: 100%;}
.contain{
    display:block;
    width: 1020px;
    margin: auto;
}
#landing{
    font-family:segoe_uibold;
    position: relative;
}
input[type="submit"]{
    cursor:pointer;
    outline:none;
}

header{
    background:#2d3e50;
    height: 60px;
    width: 100%;
    display: block;
    box-shadow: 0px -1px 9px black;
    z-index: 4;
    position: relative;
}
.titleN2{
    font-family: segoe_uilight;
    text-align:center;
    color:white;
    font-size: 1.1em;
}

/* ----------------------- LANDING ---------------------------*/

#landing input[type="submit"]:active, #landing>section:nth-child(2) input[type="submit"]:active{
    top: 3px;
    box-shadow:inherit;
    -moz-box-shadow:inherit;
    -webkit-box-shadow: inherit;
    outline:none;
    position: relative;
}
#landing header form{
    margin-top:15px;
    position: relative;
}
#landing header p.error{
    position: absolute;
    left: -185px;
    color: red;
    margin: auto;
    display: inline-block;
    font-family: segoe_uiregular;
    top: 5px;
}
#landing header form input[type="password"],
#landing header form input[type="text"]{
    height: 30px;
    font-family:segoe_uilight;
    margin:0 10px;
    font-size:.8em;
    padding: 0 5px;
    border-radius: 1px;
    border:none;
}
#landing header input[type="submit"]{
    background:#e2867e;
    height: 30px;
    color:white;
    font-family:segoe_uilight;
    margin-left:20px;
    border-radius:3px;
    font-size:.9em;
    padding:0 30px;
    border:0;
    box-shadow: 0px 3px 0px #bf4337;
}
footer{
    background:#2d3e50;
    height: 200px;
    width: 100%;
    display: block;
}
#landing>section{
    position:relative;
    overflow: hidden;
}
#landing>section:nth-child(4)>div>div{
    max-height: 500px;
}
#landing>section:nth-child(2){
    background-image:url(images/background.jpg);
    background-repeat:none;
    background-size: cover;
    height:800px;
    background-position: bottom center;
}
#landing>section:nth-child(2) h1{
    font-family:segoe_uilight;
    margin-top: 100px;
    font-size: 3em;
    text-shadow: 0px 1px 4px rgb(172, 172, 172);
}
#landing>section:nth-child(2) .fleft p{
    color:white;
    font-size: 1em;
    font-family:segoe_uibold;
    font-size: 1.3em;
    margin: 0;
    text-shadow: 0px 1px 4px rgb(172, 172, 172);
}
#landing>section:nth-child(2) div.fright{
    border-radius:3px;
    background: url(images/fond-transparent.png) repeat center center;
    width: 390px;
    margin-top: 100px;
    padding: 0 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#landing>section:nth-child(2) div.fright form{
    line-height: 50px;
    font-family:segoe_uilight;
    line-height: 70px;
    margin-top: 40px;
    text-align:right;
    width: 100%;
}
#landing>section:nth-child(2) div.fright p{
    color: white;
    font-size: .8em;
    margin-bottom: 20px;
    line-height: 16px;
}
#landing>section:nth-child(2) div.fright p>a{
    color:white;
}
#landing>section:nth-child(2) .fright h2{
    margin:0;
    padding: 10px 0;
    border-bottom:1px solid #2d3e50;
    text-align:center;
}
#landing>section:nth-child(2) .fright input{
    float:right;
    margin-right: 20px;
    margin-top: 13px;
    margin-left: 20px;
    width: 200px;
    height: 40px;
    border:none;
    border-radius: 1px;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#landing>section:nth-child(2) .fright select{
    float: right;
    margin-right: 20px;
    margin-top: 13px;
    margin-left: 20px;
    width: 200px;
    height: 40px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 1px;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#landing>section:nth-child(2) input[type="submit"]{
    display: block;
    float: none;
    margin: 40px auto;
    background:#2d3e50;
    color:white;
    font-family:segoe_uibold;
    box-shadow: 0px 3px 0px black;
    border-radius: 3px;
}
#landing>section:nth-child(3){
    background:white;
    height:500px;
}
#landing>section:nth-child(3) img{
    margin-top:140px;
}
#landing>section:nth-child(4) img{
    margin-top: 40px;
}
#landing>section:nth-child(4){
    background:#e2867e;
    height:500px;
}
#landing>section>div>div {
    display: inline-block;
    width: 498px;
}
#landing>section>div>div>img {
    max-width: 90%;
    z-index: 4;
    position: relative;
    margin: auto;
    display: block;
}
#landing>section h2 {
    font-family: segoe_uibold;
    font-size: 1.5em;
    margin-top: 180px;
}
#landing>section p {
    font-family: segoe_uilight;
    margin-top: 25px;
}
#landing>section:nth-child(2) *, #landing>section:nth-child(3) *{
    color:#2d3e50;
}
#landing>section:nth-child(4) *, #landing>section:nth-child(5) *{
    color:white;
}
#landing>section>div>div.fright img {
    opacity: 0;
    left: 400px;
}
#landing>section>div>div.fleft img {
    opacity: 0;
    right: 400px;
}
footer>div>div{
    display: table;
    width: 100%;
    padding-top: 40px;
}
footer>div>div>div{
    display: table-cell;
    width: 33%;
}
footer>div>div>div:nth-child(1) p{
    color:white;
    font-family: segoe_uilight;
    font-size:.9em;
}
footer>div>div>div:nth-child(2){
    text-align:center;
}
.footer-title{
    color:#e2867e;
    font-family: segoe_uibold;
    margin-bottom: 20px;
}
footer>div>div>div:nth-child(3) li>a{
    text-decoration:none;
    color:white;
    font-family: segoe_uilight;
    font-size:.9em;
}
footer>div>div>div:nth-child(3)>div{
    margin-left: 140px;
}
footer>div>div>div:nth-child(2)>div{
    width: 100%;
    text-align:center;
}
footer>div>div>div:nth-child(2)>div>a{
    height: 40px;
    width: 40px;
    border-radius:25px;
    border:2px solid #e2867e;
    display: inline-block;
    margin: 8px;
    -webkit-transition:all 200ms ease-in;
    -moz-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
}
footer>div>div>div:nth-child(2)>div>a:nth-child(1){
    background:#e2867e url(images/sharers.png) no-repeat top left;
}
footer>div>div>div:nth-child(2)>div>a:nth-child(2){
    background:#e2867e url(images/sharers.png) no-repeat top center;
}
footer>div>div>div:nth-child(2)>div>a:nth-child(3){
    background:#e2867e url(images/sharers.png) no-repeat top right;
}
footer>div>div>div:nth-child(2)>div>a:nth-child(1):hover{
    background:#2d3e50 url(images/sharers.png) no-repeat left bottom;
}
footer>div>div>div:nth-child(2)>div>a:nth-child(2):hover{
    background:#2d3e50 url(images/sharers.png) no-repeat center bottom;
}
footer>div>div>div:nth-child(2)>div>a:nth-child(3):hover{
    background:#2d3e50 url(images/sharers.png) no-repeat right bottom;
}
#landing>section .contain div p.error{
    text-align:center;
    color:red;
}
#landing #discover{
    bottom: 10px;
    text-align: center;
    position:absolute;
    font-family: segoe_uibold;
    display: block;
    width: 100%;
    left: 0;
    color:white;
    text-decoration: none;
}

/*------------------------------- PROFIL ---------------------------------*/
#profil{
    background:#eeeff1;
    padding-bottom: 50px;
}
.header_connected .contain{
    display: block;
    text-align:center;
    position: relative;
    height: 100%;
}
.header_connected .contain div{
    display: inline-block;
    width: auto;
    margin-top: 12px;
}
.header_connected .contain div>a{
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 0 5px;
    position: relative;
}
.header_connected  .contain div>a:nth-child(1){
    background:url(images/header-icon1.png) no-repeat center center;
}
.header_connected  .contain div>a:nth-child(2){
    background:url(images/header-icon2.png) no-repeat center center;
}
.header_connected .contain div>a:nth-child(3){
    background:url(images/header-icon3.png) no-repeat center center;
}
.header_connected .contain div>a:nth-child(4){
    background:url(images/header-icon4.png) no-repeat center center;
}
.header_connected  .contain div>a.active:nth-child(1){
    background:url(images/header-icon1_white.png) no-repeat center center;
}
.header_connected  .contain div>a.active:nth-child(2){
    background:url(images/header-icon2_white.png) no-repeat center center;
}
.header_connected .contain div>a.active:nth-child(3){
    background:url(images/header-icon3_white.png) no-repeat center center;
}
.header_connected .contain div>a.active:nth-child(4){
    background:url(images/header-icon4_white.png) no-repeat center center;
}
.header_connected .contain div>a>span{
    border: 1px solid white;
    background: #e2867e;
    color: white;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    display: block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family: segoe_uibold;
    font-size: .7em;
    position: absolute;
    right: -5px;
    top: -5px;
    line-height: 18px;
}
.header_connected .contain>a:last-child{
    display: block;
    height: 100%;
    color: white;
    padding: 0 20px 0 40px;
    background: url(images/deconnecter.png) no-repeat 20px center;
    text-decoration: none;
    font-family: segoe_uilight;
    line-height: 63px;
    border-left: 1px solid #4c5b6a;
    border-right: 1px solid #4c5b6a;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8em;
}
.header_connected  .contain>a:last-child:hover{
    background-color:#425262;
}
#profil>#informations{
    background:#2d3e50;
}
#profil.woman>#informations{
    background:#e3867f;
}
#profil>#informations .fleft{
    width: 340px;
    padding:30px 0;
    text-align: center;
    display: block;
}
#profil>#informations .fright{
    width: 680px;
    padding:30px 0;
}
#profil>#informations .fleft>span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius:5px;
    margin:15px auto;
}
#profil>#informations .fleft>span.actif{
    background-color:#65a830;
}
#profil>#informations .fleft>span.inactif{
    background-color:#e3867f;
}
#profil>#informations .fleft>div:nth-child(3){
    height: 140px;
    width: 140px;
    border-radius: 75px;
    border: 5px solid #4c5b6a;
    overflow: hidden;
    margin: auto;
}
#profil.woman>#informations .fleft>div:nth-child(3){
    border: 5px solid #E79892
}
#profil>#informations .fleft>div:nth-child(3)>img{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}
#profil>#informations .fleft a{
    width: 120px;
    height: 30px;
    border-radius: 3px;
    display: inline-block;
    margin:20px 5px;
    color: white;
    text-decoration:none;
    font-family: segoe_uibold;
    font-size: .8em;
    line-height: 28px;
    padding-left: 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#suivre{
    background: #e3867f url(images/suivre.png) no-repeat 15px center;
}
#suivre:hover{
    background-color:#e99e99;
}
#suivre:active{
    background-color:#b36b66;
}
.woman #suivre{
    background: #2d3e50 url(images/suivre.png) no-repeat 15px center;
}
#discuter{
    background: #222222 url(images/discuter.png) no-repeat 12px center;
}
#discuter:hover{
    background-color: #393939;
}
#discuter:active{
    background-color: #111111;
}
#profil>#informations .fright>p{
    color:white;
    font-family: segoe_uiregular;
    font-style:italic;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}
#profil .nodescription{
    font-style: normal;
    font-family: segoe_uilight;
    font-size: .9em;
    font-weight: normal;
}
.fancybox-skin{
    background: none;
}
#profil .obj-box.confirm p{
    color: white;
    font-family: segoe_uilight;
    padding-left: 50px;
    background: url(images/tick-confirm.png) no-repeat 20px; center;
}
header .logo{
    color: white;
    float: left;
    font-family: segoe_uibold;
    text-decoration: none;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 20px;
    line-height: 60px;
}
header .logo:hover{
    background:#425262;
}
#profil .obj-box.confirm p strong{
    color: white;
    font-family: segoe_uibold;
}
#resume>div>div{
    display: table;
    width: 100%;
}
#resume>div>div>div{
    display: table-cell;
    width: 33%;
}
#resume>div>div>div>p{
    border-right:1px solid #d3d7dc;
}
#resume .contain>table>tbody>tr:first-child td{
    border-left:1px solid #d3d7dc;
}
#resume .contain>table>tbody>tr:first-child td:last-child{
    border-right:1px solid #d3d7dc;
}
#resume .titleN2{
    color:#2d3e50;
    padding: 35px 0;
    display: block;
    text-decoration:none;
}  
.woman #resume .titleN2{
    color:#e3867f;
}
#resume .photos-list{
    width: 100%;
}
#resume .photos-list a{
    width: 33%;
    overflow: hidden;
    position: relative;
    display: block;
    height: 113px;
    width: 100%;
}
#resume .photos-list img{
    width: 113px;
    height: 113px;
    display: block;
}
#resume .info-list div{
    width: 113px;
    height: 113px;
}
#resume .info-list div>h3{
    text-align: center;
    font-family: segoe_uilight;
    color:#2d3e50;
    padding-top: 15px;
}
.woman #resume .info-list div>h3{
    color:#e3867f;
}
#resume .info-list div>p{
    text-align: center;
    font-family: segoe_uibold;
    font-size: .9em;
    color:#2d3e50;
    padding-top: 40px;
}
.woman #resume .info-list div>p{
    color:#e3867f;
}
td, tr{
    padding: 0;
    border-spacing: 0;
}
#resume table{
    width: 100%;
}
#resume .contain>table{
    width: 100%;
}
#resume .info-list td, #resume .photos-list td{
    border-left:1px solid #d3d7dc;
    border-bottom:1px solid #d3d7dc;
    width: 33%;
}
#resume table>tbody>tr>td{
    width: 33%;
    vertical-align: top;
}
#resume table>tbody>tr:last-child>td:last-child{
    border-right:1px solid #d3d7dc;
}
#resume .info-list>tbody>tr:first-child>td:nth-child(1){
    background: url(images/taille.png) no-repeat center center;
    border-top:1px solid #d3d7dc;
}
#resume .info-list>tbody>tr:first-child>td:nth-child(2){
    background: url(images/poids.png) no-repeat center center;
    border-top:1px solid #d3d7dc;
}
#resume .info-list>tbody>tr:first-child>td:nth-child(3){
    background: url(images/age.png) no-repeat center center;
    border-top:1px solid #d3d7dc;
}
#resume .info-list>tbody>tr:last-child>td:nth-child(1){
    background: url(images/ville.png) no-repeat center center;
}
#resume .info-list>tbody>tr:last-child>td:nth-child(3){
    background: url(images/apparence.png) no-repeat center center;
}

.woman #resume .info-list>tbody>tr:first-child>td:nth-child(1){
    background: url(images/taille-rose.png) no-repeat center center;
}
.woman #resume .info-list>tbody>tr:first-child>td:nth-child(2){
    background: url(images/poids-rose.png) no-repeat center center;
}
.woman #resume .info-list>tbody>tr:first-child>td:nth-child(3){
    background: url(images/age-rose.png) no-repeat center center;
}
.woman #resume .info-list>tbody>tr:last-child>td:nth-child(1){
    background: url(images/ville-rose.png) no-repeat center center;
}
.woman #resume .info-list>tbody>tr:last-child>td:nth-child(3){
    background: url(images/apparence-rose.png) no-repeat center center;
}

#resume .photos-list>tbody>tr:first-child>td{
    border-top:1px solid #d3d7dc;
}
#resume .info-list>tbody>tr:last-child>td.football{ background: url(images/foot.png) no-repeat center center; }
#resume .info-list>tbody>tr:last-child>td.rugby{ background: url(images/rugby.png) no-repeat center center; }
#resume .info-list>tbody>tr:last-child>td.tennis{ background: url(images/tennis.png) no-repeat center center; }
#resume .info-list>tbody>tr:last-child>td.course{ background: url(images/course.png) no-repeat center center; }
#resume .info-list>tbody>tr:last-child>td.natation{ background: url(images/natation.png) no-repeat center center; }
#resume .info-list>tbody>tr:last-child>td.basket{ background: url(images/basket.png) no-repeat center center; }

.woman #resume .info-list>tbody>tr:last-child>td.football{ background: url(images/foot-rose.png) no-repeat center center; }
.woman #resume .info-list>tbody>tr:last-child>td.rugby{ background: url(images/rugby-rose.png) no-repeat center center; }
.woman #resume .info-list>tbody>tr:last-child>td.tennis{ background: url(images/tennis-rose.png) no-repeat center center; }
.woman #resume .info-list>tbody>tr:last-child>td.course{ background: url(images/course-rose.png) no-repeat center center; }
.woman #resume .info-list>tbody>tr:last-child>td.natation{ background: url(images/natation-rose.png) no-repeat center center; }
.woman #resume .info-list>tbody>tr:last-child>td.basket{ background: url(images/basket-rose.png) no-repeat center center; }

#resume .wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity:0;
    -webkit-transition:all 100ms ease-in;
    -moz-transition:all 100ms ease-in;
    -o-transition:all 100ms ease-in;
    transition:all 100ms ease-in;
}
#resume .wrapper span{
    color:white;
    text-align:center;
    font-family: segoe_uiregular;
    display: inline-block;
    font-size: .9em;
    width: 100%;
    margin-top: 36px;
}
#resume .wrapper:hover{
    background:#e3867f;
    opacity:0.8;
}
.woman #resume .wrapper:hover{
    background: #2d3e50;
}
#activity .titleN2, #actuality .titleN2 {
    color: #2d3e50;
    padding: 35px 0;
    display: block;
    text-decoration: none;
    font-size: 1.3em;
}
.woman #activity .titleN2, .woman #actuality .titleN2 {
    color: #e3867f;
}
#activity .graphic{
    width: 100%;
    padding-bottom: 20px;
}
#activity .barres .rects rect:hover{
    fill:#7a8590;
    -webkit-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
    -ms-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    opacity: 1;
}
#activity .barres .rects rect{
    opacity: 0.3;
}
#activity .barres .infobulle{
    display:none;
    position: absolute;
    top: -200px;
    -webkit-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
    -ms-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
}
#activity .axis{
    fill: #c0c1c1;
    font-family: segoe_uiregular;
    font-size: .9em;
}

#activity .barres>g:nth-child(1):hover ~ g:nth-child(46),
#activity .barres>g:nth-child(2):hover ~ g:nth-child(47),
#activity .barres>g:nth-child(3):hover ~ g:nth-child(48),
#activity .barres>g:nth-child(4):hover ~ g:nth-child(49),
#activity .barres>g:nth-child(5):hover ~ g:nth-child(50),
#activity .barres>g:nth-child(6):hover ~ g:nth-child(51),
#activity .barres>g:nth-child(7):hover ~ g:nth-child(52),
#activity .barres>g:nth-child(8):hover ~ g:nth-child(53),
#activity .barres>g:nth-child(9):hover ~ g:nth-child(54),
#activity .barres>g:nth-child(10):hover ~ g:nth-child(55),
#activity .barres>g:nth-child(11):hover ~ g:nth-child(56),
#activity .barres>g:nth-child(12):hover ~ g:nth-child(57),
#activity .barres>g:nth-child(13):hover ~ g:nth-child(58),
#activity .barres>g:nth-child(14):hover ~ g:nth-child(59),
#activity .barres>g:nth-child(15):hover ~ g:nth-child(60){
    display: block;
}
#activity .barres>g:nth-child(45){
    display: none;
}
#activity .contain>div:last-child{
    display: table;
    width:100%;
}
#activity .contain>div:last-child>div{
    display: table-cell;
    width:50%;
    padding: 60px 0 50px 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#activity .contain>div:last-child>div:first-child{
    background: url(images/colories.jpg) no-repeat center center;
    background-size: cover;
}
#activity .contain>div:last-child>div:last-child{
    background: url(images/minutes.jpg) no-repeat center center;
    background-size: cover;
}
#activity .contain>div:last-child>div h3{
    color:white;
    text-align:center;
    font-family: segoe_uilight;
    text-shadow: 0px 1px 4px rgb(71, 71, 71);
    line-height: 25px;
}
#activity .contain>div:last-child>div span{
    font-size:4em;
    font-family: segoe_uibold;
    display: block;
}

#actuality .contain>ul.col{
    width: 100%;
    display: none;
    text-align:center;
    padding-bottom: 15px;
}
#actuality .contain>ul.col>li{
    display:inline-block;
    font-family: segoe_uilight;
    padding: 0 85px;
}
#actuality .contain>ul.col a{
    text-decoration: none;
    color: #2d3e50;
}
.separe{
    display: block;
    width: 100%;
    height: 15px;
    background: url(images/separe.png) repeat-x center top;
}
.woman .separe{
    background: url(images/separe-rose.png) repeat-x center top;
}
.separe>span{
    display: block;
    width: 100%;
    height: 100%;
    background:url(images/fleche-actu.jpg) no-repeat top center;
}
.woman .separe>span{
    background:url(images/fleche-actu-rose.jpg) no-repeat top center;
}
.mon-actu{
    border-bottom: 1px solid #a1a8b1;
    padding: 20px 0;
}
.mon-actu>div:first-child>div{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 5px solid #4c5b6a;
    overflow: hidden;
    margin: auto;
}
.woman .mon-actu>div:first-child>div{
    border: 5px solid #e3867f;
}
.mon-actu>div:first-child>div>img{
    width: 100%;
    min-height: 100%;
}
.mon-actu>div:nth-child(2){
    margin-left: 20px;
}
.mon-actu>div:nth-child(2) p{
    color:#8a8a8a;
    font-family: segoe_uilight;
    margin: 10px 0 20px 0;
}
.mon-actu>div:nth-child(2) p>strong{
    font-family: segoe_uibold;
    color:#2d3e50;
    font-weight: normal;
}
.woman .mon-actu>div:nth-child(2) p>strong{
    color: #e3867f;
}
.tolike{
    text-decoration: none;
    color: transparent;
    font-family: segoe_uibold;
    padding: 5px 15px 5px 35px;
    border: 1px solid #2d3e50;
    font-size: .9em;
    background: url(images/encourager.png) no-repeat top center;
    -webkit-transition:all 200ms ease-in;
    -moz-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    display: inline-block;
    width: 140px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.woman .tolike{
    background: url(images/encourager-rose.png) no-repeat top center;
    color: transparent !important;
    border: 1px solid #e3867f;
}
.tolike.active{
    background: #2d3e50 url(images/encourager.png) no-repeat bottom center;
}
.woman .tolike.active{
    background: #e3867f url(images/encourager-rose.png) no-repeat bottom center;
}
.mon-actu>div.fright p{
    font-family: segoe_uibold;
    color:#2d3e50;
    text-align: right;
    margin-top: 10px;
}
.woman .mon-actu>div.fright p{
    color: #e3867f;
}
.mon-actu>div.fright span{
    font-family: segoe_uibold;
    color: #2d3e50;
    text-align: right;
    margin-top: 20px;
    padding-left: 20px;
    background: url(images/encourager.png) no-repeat 5px center;
    display: inline-block;
    float: right;
}
.woman .mon-actu>div.fright span{
    background: url(images/encourager-rose.png) no-repeat 5px center;
}
.woman .mon-actu>div.fright span{
    color: #e3867f;
}
#resume tbody>tr:last-child>td:first-child .photos-list:nth-child(1) .wrapper{
    background: #2d3e50;
}
.woman #resume tbody>tr:last-child>td:first-child .photos-list:nth-child(1) .wrapper{
    background: #e3867f;
}
#resume tbody>tr:last-child>td:first-child .photos-list:nth-child(1) .wrapper span{
    margin-top: 46px;
}
.fancybox-nav span{
    visibility: visible;
}
#informations .graphs{
    display: table;
    width: 100%;
    height: 200px;
    position:relative;
}
#informations .graphs svg{
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    width: 100%;
}
#informations .graphs>div *{
    color: white;
    text-align:center;
    font-family: segoe_uilight;
}
#informations .graphs>div p{
    font-size: .7em;
    margin: 3px 0 15px 0;
}
#informations .graphs>*{
    display: table-cell;
    width: 33%;
}
.graphic>svg{
    background: url(images/line-back.png) no-repeat center 120px;
}


/* ----------------------------- RECHERCHE ----------------------------- */
#recherche{
    background:#eeeff1;
}
#recherche .titleN2{
    color:#2d3e50;
    margin: 40px 0;
}
#recherche .item_title{
    background: #2d3e50;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #576573;
    outline: 0;
}
#recherche .item_title p{
    color:white;
    font-family: segoe_uilight;
    padding: 2px 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#recherche h2.item_title p{
    background: url(images/header-icon4_white.png) no-repeat left center, url(images/separateur_recherche.jpg) no-repeat 200px center;
}
#recherche #accordion>h3.item_title:nth-child(1) p{
    background: url(images/header-icon1_white.png) no-repeat left center, url(images/separateur_recherche.jpg) no-repeat 200px center;
}
#recherche #accordion>h3.item_title:nth-child(3) p{
    background: url(images/gym.png) no-repeat left center, url(images/separateur_recherche.jpg) no-repeat 200px center;
}
#recherche .section{
    padding: 30px 0;
}
#recherche .section .line{
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
}
#recherche .section .line>.left{
    text-align: right;
    display: inline-block;
    width: 35%;
}
#recherche .section .line>.right{
    display: inline-block;
    width: 320px;
    margin-left: 50px;
    vertical-align: top;
    position: relative;
}
#recherche .section .line>.left p{
    color:#2d3e50;
    font-family: segoe_uilight;
    text-transform: uppercase;
}
#recherche input[type="submit"]{
    background: #2d3e50;
    display: block;
    color: white;
    font-family: segoe_uilight;
    border: none;
    padding: 5px 50px;
    border-radius: 3px;
    font-size: .9em;
    margin:40px auto;
    box-shadow: 0px 3px 0px #18232e;
}
#recherche input[type="submit"]:active{
    top: 3px;
    box-shadow: inherit;
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    outline: none;
    position: relative;
}
#recherche .line select{
    width: 320px;
    background: transparent;
    color:#2d3e50;
    font-family: segoe_uiregular;
    border-radius: 0;
    border:1px solid #2d3e50;
}
#recherche .line input[type="radio"]+label, #recherche .line input[type="checkbox"]+label{
    color:#2d3e50;
    font-family: segoe_uiregular;
    margin: 0 40px 0 5px;
}
#recherche .section .sportchoice{
    height: 110px;
    line-height: 25px;
}
#recherche .section .sportchoice .right{
    position: relative;
    top: 20px;
}
#recherche .section input[type="text"]{
    color:#2d3e50;
    font-family: segoe_uiregular;
    padding: 0 5px;
    border:1px solid #2d3e50;
    background: transparent;
    border-radius: 0;
    width: 320px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 30px;
}
#recherche .section .sportchoice .left p{
    position:relative;
    top: 48px;
}
#recherche .villeauto{
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 3;
}
#recherche .villeauto li{
    font-family: segoe_uiregular;
    color: white;
    border-bottom: 1px solid #929292;
    background: #2d3e50;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: .8em;
    padding: 0 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#recherche .villeauto{
    display:none;
}
#recherche .villeauto li:hover{
    background:#455d77;
    cursor: pointer;
}
#result .chat-infos{
    font-family: segoe_uibold;
}

#result .chat-icon-women{
    background-image: url(images/header-icon4.png);
    background-repeat: no-repeat;
    padding: 3px 15px;
    
}

#result .chat-infos p{
    width: 120px;
    text-align: center;
    display: inline-block;
    
}
#result .separator{
    border-top: 1px solid #2d3e50;
    display: inline-block;
    position: relative;
    top:-3px;
    width: 640px;
}

#result .separator-bottom{
    border-top: 1px solid #2d3e50;
    display: inline-block;
    position: relative;
    margin: 30px auto;
    width: 100%;
}
#result input[type="submit"].tfbutton {
margin: 0;
padding: 8px 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
color: #ffffff;
position: relative;
left: -10px;
top: 1px;
border: 1px solid #2d3e50;
border-right: 0px;
background-image: url(images/search-icon.png);
background-position: center;
background-repeat: no-repeat;
background-color: #2d3e50;
}
#result .chat-infos>a{
    color: white;
    font-family: segoe_uiregular;
    background: #2d3e50;
    border-radius: 3px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: .9em;
    float: right;
}
#result .titleN2{
    color: #2d3e50;
    margin: 40px 0;
}
#result .list-result{
    text-align: left;
    margin: 20px 0;
}
#result .list-result>div{
    display: inline-block;
    width: 320px;
    height: 115px;
    border: 1px solid #e2867e;
    margin: 20px 0;
    position: relative;
    margin-left: 22px;
}
#result .list-result>div:nth-child(3n-2){
    margin-left: 0;
}
#result .list-result>div>img{
    height: 115px;
    width: 115px;
}
#result .list-result>div>div{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 200px;
}
#result .list-result>div h2{
    color:#e2867e;
    font-family: segoe_uibold;
    margin-left: 5px;
    margin-top: 5px;
}
#result .list-result>div p{
    color:#727171;
    font-family: segoe_uilight;
    margin: 2px 0 0 5px;
}
#result .list-result>div a{
    font-family: segoe_uilight;
    color: white;
    background: #e2867e;
    text-decoration: none;
    padding: 2px 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    display: block;
    margin-left: 35px;
    font-size: .9em;
}
#result .pagination{
    margin-bottom:20px;
    text-align: center;
}
#result .pagination a{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    color:#2d3e50;
    font-family: segoe_uibold;
    border: 2px solid #2d3e50;
    border-radius:50%;
    text-decoration: none;
    text-align: center;
}
#result .pagination a.active{
    background:#2d3e50;
    color: #FFF;
}
#result .pagination a+a{
    margin-left: 5px;
}

/* ----------------------------- PAGE 404 ----------------------------- */
#page_404 section{
	margin-bottom: 100px;
	
}

#page_404 section h1{
    margin-top:-20px;
    display: block;
    color:#2d3e50;
       font-family: segoe_uibold;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
}
#page_404 section .erreur{
    background-image: url(images/404-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 0 auto;
    width: 100px;
    padding: 130px 0 0px 0;
}


.home-btn{
	font-size: 14px;
		font-family: segoe_uibold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
	background-color: #2d3e50;
	width: 230px;
	margin: 15px auto;
	padding: 7px 0 7px 0;
	border-radius: 3px;
	box-shadow: 0px 3px 0px black;
	
	
}

.home-btn:active{
	font-family: segoe_uibold;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	box-shadow: 0px 2px 0px black;
	bottom: -1px;
	
}

.home-btn a{
	text-decoration: none;
	color: #fff;
	
	
	
}

/*------ PAGE OBJECTIFS -------*/

#recherche .objectif-F .titleN2{
    color:#000;
    margin: 40px 0;
}

#middle-nav {
	text-align: center;
}

#middle-nav li {
	text-align: center;
	display:inline-block;
	padding: 20px 92px 20px 92px;
	font-family: segoe_uilight;
	font-size: 0.9em;
	text-transform: uppercase;
	color: #2d3e50;
}


#middle-nav li a {
	color:#2d3e50;
	text-decoration: none;
	
}

#middle-nav li a.actif {
	color:#2d3e50;
	font-family: segoe_uibold;
	text-decoration: none;
	
}



#meeting-nav {
	text-align: center;
}

#meeting-nav li {
	text-align: center;
	display:inline-block;
	padding: 20px 50px 20px 50px;
	font-family: segoe_uilight;
	font-size: 0.9em;
	text-transform: uppercase;
	color: #2d3e50;
}


#meeting-nav li a {
	color:#2d3e50;
	text-decoration: none;
	
}

#meeting-nav li a.actif {
	color:#2d3e50;
	font-family: segoe_uibold;
	text-decoration: none;
	
}


.bottom-border {
	
	border-bottom: 1px solid #2d3e50;
	margin-bottom: 15px; 
	
}



#objectifs-F .titleN2 {
color: #e2867e;
margin: 40px 0;
}

#objectifs-F #middle-nav li a {
	color:#e2867e;
	text-decoration: none;
	
}

#objectifs-F #middle-nav li a.actif {
	color:#e2867e;
	font-family: segoe_uibold;
	text-decoration: none;
	
}

#objectifs-F .bottom-border {
	
	border-bottom: 1px solid #e2867e;
	margin-bottom: 15px; 
	
}



.objectifs-feed {
	
	margin-bottom: 150px;
	
}

.mes-objectifs>div:nth-child(2){
    margin-left: 20px;
    padding: 2.3% 0 0% 0;
}

.mes-objectifs .fright{
	padding: 3.4% 0 0% 0;
	
}

.mes-objectifs .fright a{
	margin: 0 10px 0 10px;
	padding: 10px 45px 10px 45px;
	font-family: segoe_uibold;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	border-radius: 3px;
	
}

.mes-objectifs .fright .button{
	background-repeat: no-repeat;
	padding: 10px 23px 10px 23px;
	background-position: 15px center;
	background-color: #2d3e50;
	
}

.mes-objectifs .fright .button:hover{
	background-color: #576573;
	
}

.mes-objectifs .fright .button:active{
	background-color: #1e2935;
	
}

.mes-objectifs .fright .accept{
	background-image: url(images/accept-icon.png);
	background-repeat: no-repeat;
	background-position: 15px center;
	background-color: #239e58;
	
}

.mes-objectifs .fright .accept:hover{
	background-color: #4fb179;
	
}

.mes-objectifs .fright .accept:active{
	background-color: #1e844a;
	
}


.mes-objectifs .fright .refus{
	background-image: url(images/refus-icon.png);
	background-repeat: no-repeat;
	background-position: 15px center;
	background-color: #e84c3d;
	
}

.mes-objectifs .fright .refus:hover{
	background-color: #ed7064;
	
}

.mes-objectifs .fright .refus:active{
	background-color: #c54034;
	
}


.mes-objectifs .fright .chat{
	background-image: url(images/chat-icon.png);
	background-repeat: no-repeat;
	background-position: 15px center;
	background-color: #222222;
	
}


.mes-objectifs .fright .chat:hover{
	background-color: #393939;
	
}

.mes-objectifs .fright .chat:active{
	background-color: #111111;
	
}


.mes-objectifs .fright .target{
	background-image: url(images/target-icon.png);
	background-repeat: no-repeat;
	background-position: 15px center;
	background-color: #e2867e;
	
}




.mes-objectifs{
    padding: 20px 0;
}
.mes-objectifs>div:first-child>div{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 5px solid #4c5b6a;
    overflow: hidden;
    margin: auto;
}
.mes-objectifs>div:first-child>div>img{
    width: 100%;
    min-height: 100%;
}
.mes-objectifs>div:nth-child(2){
    margin-left: 20px;
}

.mes-objectifs .normal p{
    color:#8a8a8a;
    font-family: segoe_uilight;
    margin: 10px 0 20px 0;
}
.mes-objectifs .normal p strong{
    font-family: segoe_uibold;
    color:#2d3e50;
    font-weight: normal;
}

.mes-objectifs .normal p strong a{
    text-decoration: none;
    color:#2d3e50;
}



.mes-objectifs .fix p{
    color:#e2867e;
    font-family: segoe_uilight;
    margin: 10px 0 20px 0;
}
.mes-objectifs .fix strong{
    font-family: segoe_uibold;
    color:#e2867e;
    font-weight: normal;
}

.mes-objectifs .fix strong a{
    color:#e2867e;
    text-decoration: none;
}

.mes-objectifs .done p{
    color:#e84c3d;
    font-family: segoe_uilight;
    margin: 10px 0 20px 0;
}
.mes-objectifs .done strong{
    font-family: segoe_uibold;
    color:#e84c3d;
    font-weight: normal;
}

.mes-objectifs .done strong a{
    text-decoration: none;
    color:#e84c3d;
}


.mes-objectifs .finish p{
    color:#239e58;
    font-family: segoe_uilight;
    margin: 10px 0 20px 0;
}
.mes-objectifs .finish strong{
    font-family: segoe_uibold;
    color:#239e58;
    font-weight: normal;
}

.mes-objectifs .finish strong a{
    text-decoration: none;
    color:#239e58;
    font-weight: normal;
}

/*.mes-objectifs>div:nth-child(2) a{
    text-decoration: none;
    color: #2d3e50;
    font-family: segoe_uibold;
    padding: 5px 15px 5px 35px;
    border: 1px solid #2d3e50;
    margin-top: 20px;
    font-size: .9em;
    background: url(images/encourager.png) no-repeat 15px center;
}*/

.mes-objectifs>div.fright p{
    font-family: segoe_uibold;
    color:#2d3e50;
    text-align: right;
    margin-top: 10px;
}
.mes-objectifs>div.fright span{
    font-family: segoe_uibold;
    color: #2d3e50;
    text-align: right;
    margin-top: 20px;
    padding-left: 20px;
    background: url(images/encourager.png) no-repeat 5px center;
    display: inline-block;
    float: right;
}

/* -------------------------- Dashboard ----------------------------- */

.obj-box{
    width: 500px;
    background: #e2867e;
    padding: 20px;
}
.obj-box h2{
    text-transform: uppercase;
    font-family: segoe_uilight;
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.obj-box h3{
    color: white;
    font-family: segoe_uilight;
    padding-left: 40px;
    margin: 20px 0;
}
.obj-box h3.cible{
    background: url(images/female-icon.png) no-repeat left center, url(images/separateur_recherche.jpg) no-repeat 140px center;
}
.obj-box h3.objectif{
    background: url(images/gym.png) no-repeat left center, url(images/separateur_recherche.jpg) no-repeat 160px center;
}
.obj-box h3.resultat{
    background: url(images/pres-icon.png) no-repeat left center, url(images/separateur_recherche.jpg) no-repeat 160px center;
}
.obj-box .name{
    color: white;
    text-align:center;
    font-family: segoe_uilight;
}
.obj-box .photo{
    height: 75px;
    width: 75px;
    border-radius: 75px;
    border: 5px solid #e69891;
    overflow: hidden;
    margin: 10px auto;
}
.obj-box .photo img{
    height: 100%;
    width: 100%;
}
.obj-box .distance, .obj-box .duree{
    width: 49%;
    display: inline-block;
    text-align: center;
    color: white;
    font-family: segoe_uilight;
    margin: 5px 0;
}
.obj-box .distance h4{
    padding-left: 30px;
    background: url(images/distance-icon.png) no-repeat left center;
    display: inline-block;
}
.obj-box .duree h4{
    padding-left: 30px;
    background: url(images/duree-icon.png) no-repeat left center;
    display: inline-block;
}
.obj-box .distance p, #profil .obj-box .duree p{
    font-family: segoe_uiregular;
}
.fancybox-skin{
    padding: 0 !important;
}
.fancybox-close{
    top: 0 ;
    right: 0 ;
    background: url(images/cross.png) no-repeat center center;
}
.obj-box .age, .obj-box .taille, .obj-box .poids{
    width: 32.5%;
    display: inline-block;
    text-align: center;
    color: white;
    font-family: segoe_uilight;
    margin: 5px 0;
}
.obj-box .taille h4{
    padding-bottom: 40px;
    background: url(images/box-icon1.png) no-repeat center 30px;
}
.obj-box .poids h4{
    padding-bottom: 40px;
    background: url(images/box-icon2.png) no-repeat center 35px;
}
.obj-box .age h4{
    padding-bottom: 40px;
    background: url(images/box-icon3.png) no-repeat center 35px;
}
.obj-box .line>.left {
    text-align: right;
    display: inline-block;
    width: 40%;
}
.obj-box .line{
    margin-bottom: 10px;
}
.obj-box .line>.right {
    display: inline-block;
    width: 210px;
    margin-left: 50px;
    vertical-align: top;
    position: relative;
}
.obj-box .line>.left p {
    color: white;
    font-family: segoe_uilight;
    text-transform: uppercase;
    font-size: .9em;
    position: relative;
    top: 25px;
}
.obj-box .irs-single{
    color: white;
    font-size: .8em;
}
.obj-box .irs-slider{
    background: white;
    top: 19px;
}
.obj-box .irs-line{
    background: white;
    height: 2px;
}
#recherche .obj-box input[type="submit"]{
    margin-bottom: 0;
}
#profil #news>article:nth-child(2n){
    background: transparent;
}
#profil #news>article:nth-child(2n-1){
    background: #2d3e50;
}
#profil #news>article:nth-child(2n) .live-news{
    color: #2d3e50;
}
#profil #news>article:nth-child(2n) .live-news a{
    color: #2d3e50;
}
#profil #news>article:nth-child(2n) .live-news .separator{
    border-color: #2d3e50;
}
#profil #news>article:nth-child(2n-1) .tolike{
    border-color: white;
    background: url(images/encourager-white.png) no-repeat top center;
}
#profil #news>article:nth-child(2n-1) .tolike.active{
    background: #eeeff1 url(images/encourager-white.png) no-repeat bottom center;
}
#meeting-nav {
    text-align: center;
}

#meeting-nav li {
    text-align: center;
    display:inline-block;
    padding: 20px 50px 20px 50px;
    font-family: segoe_uilight;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #2d3e50;
}


#meeting-nav li a {
    color:#2d3e50;
    text-decoration: none;
    
}

#meeting-nav li a.actif {
    color:#2d3e50;
    font-family: segoe_uibold;
    text-decoration: none;
    
}
#resume tbody>tr:last-child>td:first-child .photos-list:nth-child(1) a{
    background:url(images/photo_h.png) no-repeat center center;
    display: block;
    width: 100%;
    height: 113px;
}
.woman #resume tbody>tr:last-child>td:first-child .photos-list:nth-child(1) a{
    background:url(images/photo_f.png) no-repeat center center;
    display: block;
    width: 100%;
    height: 113px;
}
#resume tbody>tr:last-child>td:last-child .photos-list:nth-child(1) a{
    background:url(images/plus_rose.png) no-repeat center center;
    display: block;
    width: 100%;
    height: 113px;
}
.woman #resume tbody>tr:last-child>td:last-child .photos-list:nth-child(1) a{
    background:url(images/plus_bleu.png) no-repeat center center;
    display: block;
    width: 100%;
    height: 113px;
}

/*Message Erreur */

#rencontres .empty {
	
	font-family: segoeui-bold;
	text-align: center;
	color: #c0c0c0;
	padding: 30px;
	font-size: 20px;
}

/*Message Erreur*/



/* sticky footer */


* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 200px; /* '.push' must be the same height as 'footer' */
}


/* sticky footer */