<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <title>Meet & run</title>
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="../public/css/reset.css">
	  <link rel="stylesheet" href="../public/font/stylesheet.css">
	  <link rel="stylesheet" href="../public/css/style.css">
	  <link rel="stylesheet" href="../public/css/ion.rangeSlider.skinNice.css">
	  <link rel="stylesheet" href="../public/css/ionrangeSlider.css">
	</head>
	<body id="page_404">
		<header class="active">
		</header>
		<div class="wrapper">
		<section>
			<div class="erreur"></div>
			<h1><br> Vous ne pouvez pas courir ici !</h1>
				<div class="home-btn">
						<a href ="/">Retourner à l'accueil</a>
					</div> 
					<?php echo (isset($SESSION['user'])?'au dashboard':'à la page d\'accueil'); ?>
		</section>
		
		<div class="push"></div>
		
		</div>
		
		
		
		
		<footer>
			<div class="contain">
				<div>
					<div>
						<p>© 2014 Run & Meet - Tous droits réservés</p>
					</div>
					<div>
						<p class="footer-title">Nous suivre sur</p>
						<div>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
						</div>
					</div>
					<div>
						<div>
							<p class="footer-title">A propos de Run & Meet</p>
							<ul>
								<li><a href="">A propos</a></li>
								<li><a href="">Conditions d'utilisation</a></li>
								<li><a href="">Protection des données</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		</div>
	</body>
</html>