<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <title>Meet & run</title>
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="../public/css/reset.css">
	  <link rel="stylesheet" href="../public/css/jquery.fancybox.css" type="text/css" media="screen" />
	  <link rel="stylesheet" href="../public/font/stylesheet.css">
	  <link rel="stylesheet" href="../public/css/style-dash.css">
	  <link rel="stylesheet" href="../public/css/style.css">
	</head>
	<body id="profil">
		<header class="active">
			<div class="contain">
				<div>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
				</div>
				<a href="#">Déconnexion</a>
			</div>
		</header>
		<section id="informations-dash">
		<div class="dash-head">
		
			<div class="contain clearfix dash-container">
				<div class="fleft">
					<div class="presentation">
						<h1 class="title-dash"><?php echo $user['user_firstname'].' '.$user['user_lastname']; ?></h1>
						<div class="presentation-infos">
							<p><span><?php echo $user['achieved_goals']; ?></span> Objectif<?php if($user['achieved_goals']>1) echo('s'); ?> réussi<?php if($user['achieved_goals']>1) echo('s'); ?></p>
							<p><span><?php echo $user['followings']; ?></span> Follower<?php if($user['followings']>1) echo('s'); ?></p>
						</div>
					</div>
					<div><img src="images/profil1.jpg" alt=""></div>
				</div>
				
				<div class="fright">
					<h2 class="objectifs-dash">Mes objectifs</h2>
					
					<?php if(count($goals)>0):?>
						<?php foreach($goals as $g): ?>
						<div class="details">
								<div class="targets">
									<div class="pics">
										<img src="/medias/users/<?php echo($g['user_from_id']); ?>/profil.jpg" alt="">
									</div>
								</div> <!--End of targets -->
								<div class="status">
									<span class="actif"></span>
								</div> <!--End of status -->
								
								<div class="name">
									<p><?php echo $g['user_from_firstname'].' '.$g['user_from_lastname']; ?></p>
								</div> <!--End of name -->
								
								<div class="link">
									<a href="#">Voir les détails</a>
								</div> <!--End of link -->
						</div>
						<?php endforeach; ?>
					<?php else: ?>
						<p>Vous n'avez pas encore d'objectif...</p>
					<?php endif; ?>
	
				</div>
				
			</div>
		</div>
		</section>
		
		<nav>
			<div class="contain clearfix">
				<ul id="middle-nav">
					<li><a href="#">Toutes les actualités</a></li>
					<li><a class="actif" href="#">Personnes rencontrées</a></li>
					<li><a href="#">Personnes suivies</a></li>
				</ul>
			</div>
		</nav>
		
		<section id="news">
			
				<article class="bg-km"> <!-- Start of a the article -->
				<div class="contain clearfix">
						<div class="profil fleft">
							<p class="name">Eva Mendes</p>
							
							<div class="friend-pics">
								<div class="targets">
									<div class="pics">
										<img src="images/profil1.jpg" alt="">
									</div>
								</div>
							</div>
							<p class="date">28 Janvier 2014</p>
						</div>
				
					
					<div class="live-news fleft">
						<p><span>Eva Mendes</span> a parcouru 15 kms en 1 heure et 23 minutes</p>
						<div class="separator"></div>
						<div class="link">
							<a href="#">J'encourage</a>
						</div> <!--End of link -->
					</div>
				</div>
				</article> <!-- End of a the article -->
			
				<article class="bg-cal"> <!-- Start of a the article -->
				<div class="contain clearfix">
						<div class="profil fright">
							<p class="name">Jennifer Lopez</p>
							
							<div class="friend-pics">
								<div class="targets">
									<div class="pics">
										<img src="images/profil1.jpg" alt="">
									</div>
								</div>
							</div>
							<p class="date">28 Janvier 2014</p>
						</div>
				
					
					<div class="live-news fright">
						<p><span>Jennifer Lopez</span> Jennifer Lopez a perdu 1359 calories en 1 journée</p>
						<div class="separator"></div>
						<div class="link">
							<a href="#">J'encourage</a>
						</div> <!--End of link -->
					</div>
				</div>
				</article> <!-- End of a the article -->
				
				<article class="bg-event"> <!-- Start of a the article -->
				<div class="contain clearfix">
						<div class="profil fleft">
							<p class="name">Mila Kunis</p>
							
							<div class="friend-pics">
								<div class="targets">
									<div class="pics">
										<img src="images/profil1.jpg" alt="">
									</div>
								</div>
							</div>
							<p class="date">28 Janvier 2014</p>
						</div>
				
					
					<div class="live-news fleft">
						<p><span>Mila Kunis</span> a participé au marathon de Los Angeles</p>
						<div class="separator"></div>
						<div class="link">
							<a href="#">J'encourage</a>
						</div> <!--End of link -->
					</div>
				</div>
				</article> <!-- End of a the article -->
			
				<article class="bg-friend"> <!-- Start of a the article -->
				<div class="contain clearfix">
						<div class="profil fright">
							<p class="name">Noémie Lenoir</p>
							
							<div class="friend-pics">
								<div class="targets">
									<div class="pics">
										<img src="images/profil1.jpg" alt="">
									</div>
								</div>
							</div>
							<p class="date">28 Janvier 2014</p>
						</div>
				
					
					<div class="live-news fright">
						<p><span>Noémie Lenoir</span> a accepté votre invitation à discuter</p>
						<div class="separator"></div>
						<div class="link">
							<a href="#">J'encourage</a>
						</div> <!--End of link -->
					</div>
				</div>
				</article> <!-- End of a the article -->

				<article class="bg-km"> <!-- Start of a the article -->
				<div class="contain clearfix">
						<div class="profil fleft">
							<p class="name">Nicole Scherzinger</p>
							
							<div class="friend-pics">
								<div class="targets">
									<div class="pics">
										<img src="images/profil1.jpg" alt="">
									</div>
								</div>
							</div>
							<p class="date">28 Janvier 2014</p>
						</div>
				
					
					<div class="live-news fleft">
						<p><span>Nicole Scherzinger</span> a parcouru 9 kms en 1 heure et 2 minutes</p>
						<div class="separator"></div>
						<div class="link">
							<a href="#">J'encourage</a>
						</div> <!--End of link -->
					</div>
				</div>
				</article> <!-- End of a the article -->
		</section>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	 	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	  	<script type="text/javascript" src="../public/js/jquery.mousewheel-3.0.6.pack.js"></script>
	  	<script type="text/javascript" src="../public/js/jquery.fancybox.pack.js"></script>
	  	<script type="text/javascript" src="../public/js/script.js"></script>	
	</body>
</html>