<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>
<body>
	<a href="/login/fitbit">Connectez-vous avec votre Fitbit</a>
	<a href="/login/jawbone">Connectez-vous avec Jawbone Up</a>
	<a href="/login/moves">Connectez-vous avec Moves</a>
	<a href="/login/runkeeper">Connectez-vous avec Runkeeper</a>
	<form action="/login" method="POST">
		<label for="username"></label>
		<input type="text" name="username" id="username">
		<label for="password"></label>
		<input type="text" name="password" id="password">
		<input type="submit" value="Connexion">
	</form>
</body>
</html>