<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <title>Meet & run</title>
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="../public/css/reset.css">
	  <link rel="stylesheet" href="../public/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	  <link rel="stylesheet" href="../public/font/stylesheet.css">
	  <link rel="stylesheet" href="../public/css/style.css">
	  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	  <script type="text/javascript" src="../public/js/jquery.mousewheel-3.0.6.pack.js"></script>
	  <script type="text/javascript" src="../public/js/jquery.fancybox.pack.js?v=2.1.5"></script>
	  <script type="text/javascript" src="../public/js/script.js"></script>

	</head>
	<body id="profil">
		<header class="active">
			<div class="contain">
				<div>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
				</div>
				<a href="#">Déconnexion</a>
			</div>
		</header>
		<section id="informations">
			<div class="contain clearfix">
				<div class="fleft">
					<h1 class="titleN2"><?php echo $user['user_firstname'].' '.$user['user_lastname']; ?></h1>
					<span class="actif"></span>
					<div><img src="images/profil1.jpg" alt=""></div>
					<a id="suivre" href="#">Suivre</a>
					<a id="discuter" href="#">Discuter</a>
				</div>
				<div class="fright">
					<h2 class="titleN2">A propos</h2>
					<p><?php echo '” '.$user['user_description'].' ”'; ?></p>
				</div>
			</div>
		</section>
		<section id="resume">
			<div class="contain">
				<table>
				   <tr>
				       <td colspan="3"><a href="#" class="titleN2">Mes photos</a></td>
				       <td colspan="3"><a href="#" class="titleN2">Mon profil</a></td>
				       <td colspan="3"><a href="#" class="titleN2">Mes rencontres</a></td>
				   </tr>
				   <tr>
				       <td colspan="3">
							<table class="photos-list">
								<tr>
									<td><a class="fancybox" rel="group" href="../public/images/profil1.jpg"><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Voir la photo</span></div></a></td>
									<td><a class="fancybox" rel="group" href="../public/images/profil2.jpg"><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Voir la photo</span></div></a></td>
									<td><a class="fancybox" rel="group" href="../public/images/profil2.jpg"><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Voir la photo</span></div></a></td>
								</tr>
								<tr>					
									<td><a class="fancybox" rel="group" href="../public/images/profil1.jpg"><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Voir la photo</span></div></a></td>
									<td><a class="fancybox" rel="group" href="../public/images/profil1.jpg"><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Voir la photo</span></div></a></td>
									<td><a class="fancybox" rel="group" href="../public/images/profil1.jpg"><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Voir la photo</span></div></a></td>
								</tr>
							</table>
				       </td>
				       <td colspan="3">
				       		<table cellspacing="0" class="info-list">
								<tr>
									<td>
										<div>
											<h3>Taille</h3>
											<p><?php echo $user['body_height'].' m'; ?></p>
										</div>
									</td>
									<td>
										<div>
											<h3>Poids</h3>
											<p><?php echo $user['body_weight'].' kg'; ?></p>
										</div>
									</td>
									<td>
										<div>
											<h3>Age</h3>
											<p><?php echo $user['user_birthday']; ?></p>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div>
											<h3>Ville</h3>
											<p><?php echo $user['user_city']; ?></p>
										</div>
									</td>
									<td>
										<div>
											<h3>Sport principal</h3>
											<p><?php  echo $user['sport_name']; ?></p>
										</div>
									</td>
									<td>
										<div>
											<h3>Apparence</h3>
											<p><?php  echo $user['appearance_name']; ?></p>
										</div>
									</td>
								</tr>
							</table>
				       </td>
				       <td colspan="3">
					       	<table class="photos-list">
								<tr>
									<td><a href=""><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Machin <br> trucbidule</span></div></a></td>
									<td><a href=""><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Machin <br> trucbidule</span></div></a></td>
									<td><a href=""><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Machin <br> trucbidule</span></div></a></td>
								</tr>
								<tr>					
									<td><a href=""><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Machin <br> trucbidule</span></div></a></td>
									<td><a href=""><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Machin <br> trucbidule</span></div></a></td>
									<td><a href=""><img src="../public/images/profil2.jpg" alt=""><div class="wrapper"><span>Machin <br> trucbidule</span></div></a></td>
								</tr>
							</table>
				       </td>
				   </tr>
				</table>
			</div>
		</section>
		<section id="activity">
			<div class="contain">
				<h2 class="titleN2">Activité sportive</h2>
				<div class="graphic"></div>
				<div>
					<div>
						<h3><span>45 676</span><br>Calories perdues</h3>
					</div>
					<div><h3><span>127,56</span><br>Minutes d'activité physique</h3></div>
				</div>
			</div>
		</section>
		<section id="actuality">
			<div class="contain">
				<h2 class="titleN2">Mon actualité</h2>
				<ul class="col"> 											<!-- DISPLAY NONE -->
					<li><a href="#">Toutes mes actualités</a></li>
					<li><a href="#">Distance</a></li>
					<li><a href="#">Calories</a></li>
					<li><a href="#">Durée</a></li>
				</ul>
				<div class="separe"><span></span></div>
				<ul>
					<?php foreach($news as $n): ?>
					<li class="mon-actu clearfix">
						<div class="fleft">
							<div><img src="../public/images/profil2.jpg" alt=""></div>
						</div>
						<div class="fleft">
							<p><strong><?php echo($user['user_firstname'].' '.$user['user_lastname']); ?></strong> <?php echo($n['news_content']) ?></p>
							<?php if($user['user_id']!=$SESSION['user']['user_id']): ?><a href="support/<?php echo($n['news_id']); ?>">J'encourage</a><?php endif; ?>
						</div>
						<div class="fright">
							<p><?php echo(date('d/m/Y', $n['news_date'])) ?></p>
							<span>18</span>
						</div>
					</li>
					<?php endforeach; ?>
				</ul>
			</div>
		</section>
	</body>
</html>