<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <title>Meet & run</title>
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="../public/css/reset.css">
	  <link rel="stylesheet" href="../public/css/jquery.fancybox.css" type="text/css" media="screen" />
	  <link rel="stylesheet" href="../public/font/stylesheet.css">
	  <link rel="stylesheet" href="../public/css/style.css">
	</head>
	<body id="profil" data-id="profil" data-user="<?php echo($user['user_id']); ?>" class="<?php echo ($user['user_gender']==0?'man':'woman'); ?>">
		<header class="active header_connected">
			<div class="contain">
				<a href="../" class="logo">RUN & MEET</a>
				<div>
					<a href="/profil" title="Mon profil" class="active"></a>
					<a href="/meetings" title="Mes rencontres"><?php if(isset($notifications['relation'])): echo('<span>'.$notifications['relation'].'</span>'); endif;?></a>
					<a href="/messages" title="Messagerie"><?php if(isset($notifications['message'])): echo('<span>'.$notifications['message'].'</span>'); endif;?></a>
					<a href="/search" title="Recherche"></a>
				</div>
				<a href="/logout">Déconnexion</a>
			</div>
		</header>
		<section id="informations">
			<div class="contain clearfix">
				<div class="fleft">
					<h1 class="titleN2"><?php echo $user['user_firstname'].' '.$user['user_lastname']; ?></h1>
					<span class=""></span>
					<div><img src="/medias/users/<?php echo($user['user_id']); ?>/profil.jpg" alt=""></div>
					<?php if($user['user_id']!=$SESSION['user']['user_id']):?>
					<a id="suivre" href="follow/<?php echo($user['user_id']); ?>" class="<?php echo ($supports['follow']?'active':'') ?>">Suivre</a>
					<a id="discuter" href="/messages/<?php echo($user['user_username']); ?>" data-id="<?php echo($user['user_id']); ?>">Discuter</a>
					<div style="display:none">
						<div id="confirm-envoi" class="obj-box confirm">
							<p>Votre invitation a bien été envoyée à <strong>Steve Machin</strong></p>
						</div>
					</div>
					<?php endif; ?>
				</div>
				<div class="fright">
					<div class="graphs">
						<div class="objectif"><h2>Niveau</h2><p></p></div>
						<div class="reussite"><h2>Taux de réussite</h2><p>par rapport aux objectifs</p></div>
						<div class="activite"><h2>Votre activité</h2><p>sur les 15 derniers jours</p></div>
					</div>
					<?php echo (!empty($user['user_description'])) ? '<p class="description">” '.$user['user_description'].' ”</p>' : ' <p class="nodescription">Vous n\'avez pas encore rempli votre description. Remplissez la au plus vite. </p>'; ?>
				</div>
			</div>
		</section>
		<section id="resume">
			<div class="contain">
				<table>
				   <tr>
				       <td colspan="3"><a href="#" class="titleN2">Mes photos</a></td>
				       <td colspan="3"><a href="#" class="titleN2">Mon profil</a></td>
				       <td colspan="3"><a href="#" class="titleN2">Mes rencontres</a></td>
				   </tr>
				   <tr>
				       <td colspan="3">
							<table class="photos-list">
								<tr>
									<td>
										<a class="fancybox" rel="group" href="/medias/users/<?php echo $user['user_id']; ?>/profil.jpg"><?php echo(isset($user['user_id'])?'<img src="/medias/users/'.$user['user_id'].'/profil.jpg"/>':'') ?></a></td>
									<td>
										<a class="fancybox" rel="group" href="#"><div class="wrapper"><span>Ajouter photo</span></div></a></td>
									<td>
										<a class="fancybox" rel="group" href="#"><div class="wrapper"><span>Ajouter photo</span></div></a></td>
								</tr>
								<tr>					
									<td>
										<a class="fancybox" rel="group" href="#"><div class="wrapper"><span>Ajouter photo</span></div></a></td>
									<td>
										<a class="fancybox" rel="group" href="#"><div class="wrapper"><span>Ajouter photo</span></div></a></td>
									<td>
										<a class="fancybox" rel="group" href="#"><div class="wrapper"><span>Ajouter photo</span></div></a></td>
								</tr>
							</table>
				       </td>
				       <td colspan="3">
				       		<table cellspacing="0" class="info-list">
								<tr>
									<td>
										<div>
											<h3>Taille</h3>
											<p><?php echo $user['body_height'].' m'; ?></p>
										</div>
									</td>
									<td>
										<div>
											<h3>Poids</h3>
											<p><?php echo $user['body_weight'].' kg'; ?></p>
										</div>
									</td>
									<td>
										<div>
											<h3>Age</h3>
											<p><?php echo $user['user_birthday'].' Ans'; ?></p>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div>
											<h3>Ville</h3>
											<p><?php echo $user['user_city']; ?></p>
										</div>
									</td>
									<td class="<?php  echo strtolower($user['sport_name']); ?>">
										<div>
											<h3>Sport principal</h3>
											<p><?php  echo $user['sport_name']; ?></p>
										</div>
									</td>
									<td>
										<div>
											<h3>Apparence</h3>
											<p><?php  echo $user['appearance_name']; ?></p>
										</div>
									</td>
								</tr>
							</table>
				       </td>
				       <td colspan="3">
					       	<table class="photos-list">
								<tr>
									<td>
										<a href="profil/<?php echo (!isset($usersPhoto[0]['user_username'])) ? '../search' : $usersPhoto[0]['user_username']; ?>"><?php echo (isset($usersPhoto[0]['user_username'])) ? '<img src="/medias/users/'.$usersPhoto[0]['user_id'].'/profil.jpg" alt="">' : '' ?><div class="wrapper"><span><?php echo (!isset($usersPhoto[0]['user_firstname'])) ? 'Chercher' : $usersPhoto[0]['user_firstname']; ?> <br> <?php echo (!isset($usersPhoto[0]['user_lastname'])) ? (($user['user_gender'] == 0) ? 'sportive' : 'sportif') : $usersPhoto[0]['user_lastname']; ?></span></div></a>
									</td>
									<td>
										<a href="profil/<?php echo (!isset($usersPhoto[1]['user_username'])) ? '../search' : $usersPhoto[1]['user_username']; ?>"><?php echo (isset($usersPhoto[1]['user_username'])) ? '<img src="/medias/users/'.$usersPhoto[1]['user_id'].'/profil.jpg" alt="">' : '' ?><div class="wrapper"><span><?php echo (!isset($usersPhoto[1]['user_firstname'])) ? 'Chercher' : $usersPhoto[1]['user_firstname']; ?> <br> <?php echo (!isset($usersPhoto[1]['user_lastname'])) ? (($user['user_gender'] == 0) ? 'sportive' : 'sportif') : $usersPhoto[1]['user_lastname']; ?></span></div></a>
									</td>
									<td>
										<a href="profil/<?php echo (!isset($usersPhoto[2]['user_username'])) ? '../search' : $usersPhoto[2]['user_username']; ?>"><?php echo (isset($usersPhoto[2]['user_username'])) ? '<img src="/medias/users/'.$usersPhoto[2]['user_id'].'/profil.jpg" alt="">' : '' ?><div class="wrapper"><span><?php echo (!isset($usersPhoto[2]['user_firstname'])) ? 'Chercher' : $usersPhoto[2]['user_firstname']; ?> <br> <?php echo (!isset($usersPhoto[2]['user_lastname'])) ? (($user['user_gender'] == 0) ? 'sportive' : 'sportif') : $usersPhoto[2]['user_lastname']; ?></span></div></a>
									</td>
								</tr>
								<tr>					
									<td>
										<a href="profil/<?php echo (!isset($usersPhoto[3]['user_username'])) ? '../search' : $usersPhoto[3]['user_username']; ?>"><?php echo (isset($usersPhoto[3]['user_username'])) ? '<img src="/medias/users/'.$usersPhoto[3]['user_id'].'/profil.jpg" alt="">' : '' ?><div class="wrapper"><span><?php echo (!isset($usersPhoto[3]['user_firstname'])) ? 'Chercher' : $usersPhoto[3]['user_firstname']; ?> <br> <?php echo (!isset($usersPhoto[3]['user_lastname'])) ? (($user['user_gender'] == 0) ? 'sportive' : 'sportif') : $usersPhoto[3]['user_lastname']; ?></span></div></a>
									</td>
									<td>
										<a href="profil/<?php echo (!isset($usersPhoto[4]['user_username'])) ? '../search' : $usersPhoto[4]['user_username']; ?>"><?php echo (isset($usersPhoto[4]['user_username'])) ? '<img src="/medias/users/'.$usersPhoto[4]['user_id'].'/profil.jpg" alt="">' : '' ?><div class="wrapper"><span><?php echo (!isset($usersPhoto[4]['user_firstname'])) ? 'Chercher' : $usersPhoto[4]['user_firstname']; ?> <br> <?php echo (!isset($usersPhoto[4]['user_lastname'])) ? (($user['user_gender'] == 0) ? 'sportive' : 'sportif') : $usersPhoto[4]['user_lastname']; ?></span></div></a>
									</td>
									<td>
										<a href="profil/<?php echo (!isset($usersPhoto[5]['user_username'])) ? '../search' : $usersPhoto[5]['user_username']; ?>"><?php echo (isset($usersPhoto[5]['user_username'])) ? '<img src="/medias/users/'.$usersPhoto[5]['user_id'].'/profil.jpg" alt="">' : '' ?><div class="wrapper"><span><?php echo (!isset($usersPhoto[5]['user_firstname'])) ? 'Chercher' : $usersPhoto[5]['user_firstname']; ?> <br> <?php echo (!isset($usersPhoto[5]['user_lastname'])) ? (($user['user_gender'] == 0) ? 'sportive' : 'sportif') : $usersPhoto[5]['user_lastname']; ?></span></div></a>
									</td>
								</tr>
							</table>
				       </td>
				   </tr>
				</table>
			</div>
		</section>
		<section id="activity">
			<div class="contain">
				<h2 class="titleN2">Activité sportive - 15 derniers jours</h2>
				<div class="graphic"></div>
			</div>
		</section>
		<section id="actuality">
			<div class="contain">
				<h2 class="titleN2">Mon actualité</h2>
				<ul class="col"> 											<!-- DISPLAY NONE -->
					<li><a href="#">Toutes mes actualités</a></li>
					<li><a href="#">Distance</a></li>
					<li><a href="#">Calories</a></li>
					<li><a href="#">Durée</a></li>
				</ul>
				<div class="separe"><span></span></div>
				<ul>
					<?php foreach($news as $n): ?>
					<li class="mon-actu clearfix">
						<div class="fleft">
							<div><img src="/medias/users/<?php echo($user['user_id']); ?>/profil.jpg" alt=""></div>
						</div>
						<div class="fleft">
							<p><strong><?php echo($user['user_firstname'].' '.$user['user_lastname']); ?></strong> <?php echo($n['news_content']) ?></p>
							<?php if($user['user_id']!=$SESSION['user']['user_id']): ?><a href="support/<?php echo($n['news_id']); ?>" class="tolike support <?php if(in_array($n['news_id'], $supports['news'])) echo 'active'; ?>">J'encourage</a><?php endif; ?>
						</div>
						<div class="fright">
							<p><?php echo(date('d/m/Y', $n['news_date'])) ?></p>
							<span><?php echo($n['news_supports']); ?></span>
						</div>
					</li>
					<?php endforeach; ?>
				</ul>
			</div>
		</section>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script type="text/javascript" src="../public/js/jquery.mousewheel-3.0.6.pack.js"></script>
		<script type="text/javascript" src="../public/js/jquery.fancybox.pack.js"></script>
		<script type="text/javascript" src="../public/js/script.js"></script>
		<script type="text/javascript" src="../public/js/d3-min.js"></script>
		<script type="text/javascript" src="../public/js/graphs.js"></script>
		<script type="text/javascript" src="http://php.h3.erwan.co:8880/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="../public/js/global.js"></script>
	</body>
</html>