<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <title>Meet & run</title>
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="css/reset.css">
	  <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	  <link rel="stylesheet" href="font/stylesheet.css">
	  <link rel="stylesheet" href="css/style-dash.css">
	  <link rel="stylesheet" href="css/style.css">
	  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	  <script type="text/javascript" src="fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
	  <script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
	  <script type="text/javascript" src="js/script.js"></script>

	</head>
	<body id="page_404">
		<header class="active">
		</header>
		<div class="wrapper">
		<section>
			<div class="erreur"></div>
			<h1>Votre écran est trop petit pour courir avec nous !</h1>
				<div class="home-btn">
						<a href ="../">Retourner à l'accueil
					</div> 
				
		<?php echo (isset($SESSION['user'])?'au dashboard':'à la page d\'accueil'); ?>
		</a>
		</section>
		
		<div class="push"></div>
		
		</div>
		
		
		
		
		<footer>
			<div class="contain">
				<div>
					<div>
						<p>© 2014 Run & Meet - Tous droits réservés</p>
					</div>
					<div>
						<p class="footer-title">Nous suivre sur</p>
						<div>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
						</div>
					</div>
					<div>
						<div>
							<p class="footer-title">A propos de Run & Meet</p>
							<ul>
								<li><a href="">A propos</a></li>
								<li><a href="">Conditions d'utilisation</a></li>
								<li><a href="">Protection des données</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		</div>
	</body>
</html>