<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>
<body>
	<h1>Inscription</h1>
	<?php 
		if(isset($errors_register))	echo '<p class="error">'.current($errors_register).'</p>';
	?>
	<form action="/register" method="POST">
		<label for="firstname">Prénom</label>
		<input type="text" name="firstname" id="firstname" value="<?php echo(($user_infos['firstname']==null)?'':$user_infos['firstname']) ?>" />
		<br/><br/>
		<label for="lastname">Nom</label>
		<input type="text" name="lastname" id="lastname" value="<?php echo(($user_infos['lastname']==null)?'':$user_infos['lastname']) ?>" />
		<br/><br/>
		<label for="email">Adresse E-mail</label>
		<input type="text" name="email" id="email" value="<?php echo(($user_infos['email']==null)?'':$user_infos['email']) ?>" />
		<br/><br/>
		<input type="radio" name="gender" id="female" value="1" <?php echo(($user_infos['gender']==1)?'checked':'') ?> />
		<label for="female">Femme</label>
		<input type="radio" name="gender" id="male" value="0" <?php echo(($user_infos['gender']==0)?'checked':'') ?> />
		<label for="male">Homme</label>
		<br/><br/>
		<label for="email">Description</label>
		<textarea name="description" id="description"><?php echo(($user_infos['description']==null)?'':$user_infos['description']) ?></textarea>
		<br/><br/>
		<label for="city">Ville</label>
		<input type="text" name="city" id="city" value="<?php echo(($user_infos['city']==null)?'':$user_infos['city']) ?>" />
		<br/><br/>
		<label for="postcode">Code postal</label>
		<input type="text" name="postcode" id="postcode" value="<?php echo(($user_infos['postcode']==null)?'':$user_infos['postcode']) ?>" />
		<br/><br/>
		<label for="birthday_day">Date de naissance</label>
		<input type="text" name="birthday_day" id="birthday_day" value="<?php echo(($user_infos['birthday']==null)?'':$user_infos['birthday']['day']) ?>" />
		<input type="text" name="birthday_month" id="birthday_month" value="<?php echo(($user_infos['birthday']==null)?'':$user_infos['birthday']['month']) ?>" />
		<input type="text" name="birthday_year" id="birthday_year" value="<?php echo(($user_infos['birthday']==null)?'':$user_infos['birthday']['year']) ?>" />
		<br/><br/>
		<label for="sport">Sport principal</label>
		<select name="sport" id="sport">
			<option value="1">Football</value>
		</select>
		<br/><br/>
		<label for="appearance">Corpulance</label>
		<select name="appearance" id="appearance">
			<option value="1">Mince</value>
		</select>
		<label for="appearance">Temperament</label>
		<select name="temperament" id="temperament">
			<option value="1">Enthousiaste</value>
		</select>
		<br/><br/>
		<input type="submit" value="Envoyer"/>
	</form>
</body>
</html>